.message_create {
    height: 70px;
}

.chat {
    position: relative;
    height: 350px;
    width: 640px;
    margin-top: -20px;
    margin-bottom: 0px;
    clear: left;
    display: inline-block;
    float: left;
}

.online_list {
    position: relative;
    height: 350px;
    width: 158px;
    margin-top: -20px;
    border-radius: 3px;
    background-color: #C9C9C9;
    overflow-y: scroll;
    clear: right;
    display: inline-block;
    float: right;
}

#chat_room {
    position: relative;
    height: 80%;
}

.msg_list {
    position: relative;
    display: block;
    overflow-y: scroll;
    height: 257px;
}

#message {
    position: relative;
    height: 60px;
    width: 450px;
    margin-right: 40px;
    float: left;
    display: inline-block;
}

.submit {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 10px;
    height: 25px;
    width: 100px;
    text-align: center;
    float: right;
    display: inline-block;
    border: 1px solid #2E8B57;
    border-radius: 3px;
}

.chat_btn {
    margin-top: 1px;
    margin-bottom: 1px;
    width: 100px;
}

.message_div {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: #bce8f1;
    border-radius: 2px;
    display: block;
    overflow: visible;
    line-height: 150%;
    height: auto;
    word-break: break-all;
}

.msg_user {
    float: left;
    margin-right: 10px;
    font-family: cursive;
    display: inline-block;
    color: green;
}

.msg_content {
    float: left;
    display: inline-block;
}
