#upper_hand {
    position: absolute;
    top: 0px;
    left: 100px;
    height: 100px;
    width: 600px;
    background-color: #EE55EE;
    display: inline;
}

#left_hand {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 500px;
    background-color: #2E8B57;
    clear: left;
    float: left;
    display: inline;
}

#table {
    position: absolute;
    top: 100px;
    left: 100px;
    display: inline-block;
    background-color: orangered;
    width: 600px;
    height: 300px;
}

#right_hand {
    position: absolute;
    top: 0px;
    left: 700px;
    width: 100px;
    height: 500px;
    background-color: aqua;
    float: right;
    display: inline;
}

#down_hand {
    position: absolute;
    top: 400px;
    left: 100px;
    height: 100px;
    background-color: #CC3399;
    display: inline;
    width: 600px;
}

.card {
    position: relative;
    height: 94px;
    width: 64px;
    display: inline-block;
    font-family: Moonlight;
    font-size: 36pt;
    background-color: darkblue;
    border: 2px solid black;
    border-radius: 6px;
    margin: 3px;
}

.red_card {
    color: red;
}

.green_card {
    color: limegreen;
}

.blue_card {
    color: blue;
}

.yellow_card {
    color: yellow;
}

.white_card {
    color: whitesmoke;
}

.undefined_card {
    color: black;
}

#game_table {
    position: relative;
    height: 550px;
    width: 800px;
    clear: both;
}

.score_message {
    position: relative;
    width: 75px;
    float: right;
    border: 2px solid black;
    border-radius: 6px;
    background-color: darkblue;
    color: whitesmoke;
    display: inline-block;
}

.chip {
    position: absolute;
    width: 50px;
    height: 50px;
}

