#upper_hand {
    position: absolute;
    top: 0px;
    left: 100px;
    height: 100px;
    width: 600px;
    display: inline;
    border: 1px solid rgb(221, 221, 221);
}

#left_hand {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 500px;
    border: 1px solid rgb(221, 221, 221);
    clear: left;
    float: left;
    display: inline;
}

#table {
    position: absolute;
    top: 100px;
    left: 100px;
    display: inline;
    background-color: rgb(231, 191, 165);
    width: 600px;
    height: 300px;
}

#solitaire {
    position: absolute;
    display: inline;
    width: 450px;
    height: 150px;
    background-color: /*rgb(189, 119, 98)*/rgb(231, 191, 165);
    left: 0px;
    top: 0px;
    border-bottom: 1px solid rgb(224, 174, 141);
    border-right: 1px solid rgb(224, 174, 141);
}

#junk {
    position: absolute;
    display: inline;
    width: 450px;
    height: 150px;
    left: 0px;
    top: 150px;
    border-right: 1px solid rgb(224, 174, 141);
}

#chips {
    position: absolute;
    display: inline;
    width: 150px;
    height: 300px;
    left: 450px;
    top: 0px;
    background-color: rgb(231, 191, 165);
}

#right_hand {
    position: absolute;
    top: 0px;
    left: 700px;
    width: 100px;
    height: 500px;
    border: 1px solid rgb(221, 221, 221);
    float: right;
    display: inline;
}

#down_hand {
    position: absolute;
    top: 400px;
    left: 100px;
    height: 100px;
    border: 1px solid rgb(221, 221, 221);
    display: inline;
    width: 600px;
}

.card {
    position: relative;
    height: 94px;
    width: 64px;
    display: inline-block;
    font-family: Moonlight;
    font-size: 36pt;
    margin-right: 3px;
}

.card_solitaire {
    position: absolute;
    height: 94px;
    width: 64px;
    display: inline-block;
    font-family: Moonlight;
    font-size: 16pt;
    margin: 3px;
}

.mini_card {
    position: relative;
    height: 36px;
    width: 25px;
    display: inline-block;
    font-family: Moonlight;
    font-size: 36pt;
    margin: 2px;
}

.red_card {
    color: red;
}

.green_card {
    color: limegreen;
}

.blue_card {
    color: cornflowerblue;
}

.yellow_card {
    color: yellow;
}

.white_card {
    color: whitesmoke;
}

.undefined_card {
    color: black;
}

#game_table {
    position: relative;
    height: 550px;
    width: 800px;
    clear: both;
    margin-top: -20px;
}

.info_message {
    position: absolute;
    top: 0px;
    width: 75px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: darkblue;
    color: whitesmoke;
    display: inline-block;
}

.chip {
    position: absolute;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.card_over {
    display: none;
    position: absolute;
    height: 94px;
    width: 64px;
    display: none;
    font-family: Moonlight;
    font-size: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    margin: 3px;
}

.card_content {
    position: absolute;
    height: 94px;
    width: 64px;
    display: inline-block;
    font-family: Moonlight;
    font-size: 36pt;
    background-color: darkblue;
    border: 2px solid black;
    border-radius: 6px;
    margin: 3px;
}

.mini_card_content {
    position: absolute;
    height: 36px;
    width: 25px;
    display: inline-block;
    font-family: Moonlight;
    font-size: 14pt;
    background-color: darkblue;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px;
}

.card_content:hover .card_over {
    display: block;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.card:hover .card_over {
    display: block;
    filter:alpha(opacity=10);
    opacity: 0.9;
}

.card_btn {
    width: 60px;
    height: 45px;
    font-size: 20px;
}

.btn {
    text-align: center !important;
}

.card .btn-success {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2px;
}

.card .btn-danger {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.arrow {
    position: absolute;
    font-size: 20pt;
    display: inline-block;
    z-index: 1;
}

.junk_sort {
    float: left;
}

.junk_tabs {
    display: inline;
    width: 375px !important;
    height: 150px;
}

#players_order {
    position: absolute;
    top: 502px;
    height: 22px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(247, 247, 249);
    display: block;
    width: 800px;
}
