#upper_hand {
    position: relative;
    height: 100px;
    background-color: #EE55EE;
    display: block;
}

#left_hand {
    position: relative;
    width: 100px;
    height: 500px;
    background-color: #2E8B57;
    clear: left;
    float: left;
    #display: inline;
}

#table {
    position: relative;
    display: inline;
    background-color: orangered;
    width: 400px;
    height: 500px;
}

#right_hand {
    position: relative;
    width: 100px;
    height: 500px;
    background-color: aqua;
    #display: inline;
    clear: right;
    float: right;
}

#down_hand {
    position: relative;
    height: 100px;
    background-color: #CC3399;
    clear: both;
    display: block;
}

.card {
    position: relative;
    height: 80px;
    width: 60px;
    display: inline-block;
    font-family: Moonlight;
    font-size: 36pt;
    background-color: darkblue;
    border: 2px solid black;
    border-radius: 5px;
}

.red_card {
    color: red;
}

.green_card {
    color: limegreen;
}

.blue_card {
    color: blue;
}

.yellow_card {
    color: yellow;
}

.white_card {
    color: whitesmoke;
}

.undefined_card {
    color: black;
}