body {
    height: 500px;
    width: 800px;
}

.chat {
    height: 70%;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #AAAAAA;
    overflow-y: scroll;
    clear: both;
    display: block;
}

.message_create {
    height: 25%;
    width: 100%;
    background-color: #CCCCFF;
    border-radius: 3px;
}

#message {
    position: relative;
    height: 90%;
    width: 80%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 10px;
    float: left;
    display: inline-block;
}

.submit {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 10px;
    height: 15%;
    width: 10%;
    text-align: center;
    float: right;
    display: inline-block;
    border: 1px solid #2E8B57;
    border-radius: 3px;
}

.submit :hover {
    background-color: #2E8B57;
}