.nav {
    height: 10%;
    width: 100%;
    background-color: #45ADA8;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    top: -30px;
    clear: both;
    display: inline-block;
}

body {
    height: 500px;
    width: 800px;
}

.room_list {
    background-color: #9933CC;
    float: left;
    display: inline-block;
    margin-top: -20px;
    width: 49%;
    height: 60%;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
}

.main_menu {
    background-color: #CC3399;
    float: right;
    display: inline-block;
    margin-top: -20px;
    width: 49%;
    height: 60%;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
}

.friend_zone {
    background-color: blue;
    display: inline-block;
    width: 100%;
    height: 27%;
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
}

p {
    font-family: cursive;
}

.game_list {
    background-color: #DDDDDD;
    margin: auto;
    height: 220px;
    width: 360px;
    position: relative;
    border-radius: 2px;
}

.game_div {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 2px;
    display: inline-block;
    height: 27px;
    width: 320px;
}

.game_name {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.join_button {
    display: inline-block;
    float: right;
    border: 1px solid #EE55EE;
    border-radius: 2px;
    font-family: cursive;
    margin: 1px 2px 2px;
    padding-left: 3px;
    padding-right: 3px;
}

.join_button:hover {
    background-color: #EE55EE;
    color: white;
}

.room_list h3 {
    margin-left: 16px;
}
