body {
    height: 500px !important;
    width: 800px !important;
}

#RulesModal p {
    font-size: 16px;
}

.room_list {
    float: left;
    display: inline-block;
    margin-top: -20px;
    width: 399px;
    height: 60%;
    position: relative;
}

.main_menu {
    position: relative;
    float: right;
    display: inline-block;
    margin-top: -20px;
    margin-left: 2px;
    width: 399px;
}

.friend_zone {
    background-color: blue;
    display: inline-block;
    width: 100%;
    height: 27%;
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
}

p {
    font-family: cursive;
}

.game_list {
    position: relative;
    height: 270px;
}

.game_div {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #bce8f1;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    width: 320px;
}

.game_div p {
    float: left;
    margin-top: -2px;
}

.game_name {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.join_button {
    display: inline-block;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
}

.join_button:hover {
    background-color: #EE55EE;
    color: white;
}

.room_list h3 {
    display: inline-block;
}

.room_list_head {
    display: block;
    position: relative;
    clear: both;
}

.refresh_btn {
    display: inline-block;
    float: right;
    margin-right: 16px;
    margin-top: 20px;
    border-radius: 10px;
}

.create_btn {
    margin-top: 3px;
}

body, body.modal-open {
    padding-right: 0 !important;
}

body.modal-open {
    overflow-y: hidden;
}

#RulesModal p {
    font-family: arial;
}
